@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Developer @ViewData["Desenvolvedor"]</p>

<address>
    <strong> More information : </strong> <a href="https://berndev.online/">Portifolio Bernardo</a>
</address>

